body {
    margin: 0;
    --header-height: 100px;
    --min-content-height: 450px;
    --logo-width: 100px;
    --footer-height: 150px;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.block {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    background: cornflowerblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    flex: 0 0 var(--header-height);

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.logo {
    background: yellow;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--logo-width);
}

.menu {
    background: tomato;
    flex: 1 1 auto;
}

.content {
    display: flex;
    flex: 1 0 var(--min-content-height);
}

.nav {
    background: black;
    color: white;
    flex: 35 0 0;
}

.wrapper {
    background: violet;
    flex: 65 0 var(--logo-width);

    display: flex;
    flex-direction: column;
}

.footer {
    flex: 0 0 var(--footer-height);
}

.main {
    flex: 1 0 0;

    display: flex;
}

.news {
    background: turquoise;
    flex: 0 0 var(--logo-width);
}

.list {
    background: yellowgreen;
    flex: 1 0 0;
}
