/* cyrillic-ext */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v14/o-0IIpQlx3QUlC5A4PNr6DRASf6M7VBj.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v14/o-0IIpQlx3QUlC5A4PNr4TRASf6M7VBj.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v14/o-0IIpQlx3QUlC5A4PNr5TRASf6M7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVadyBx2pqPIif.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVYNyBx2pqPIif.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVZNyBx2pqPA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Noto Sans', sans-serif;

    font-size: 20px;
    line-height: 1.55;

    color: #272727;
}

body {
    margin: 0;
}

.header {
    width: 100%;

    display: flex;
    justify-content: center;

    background-image: url("img/electricians_freelancers_small_business1.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

@media (max-width: 1800px) {
    .header {
        background: none;
    }

    .header__wrapper {
        background-image: url("img/electricians_freelancers_small_business1.jpg");
        background-position: 360px center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.header__wrapper {
    max-width: 1180px;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    padding: 30px 10px 40px;
    box-sizing: border-box;
}

.header__row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 46px;
}

.header__logo-link {
    flex: 0 0 auto;
    margin-right: 29px;
}

.header__logo-img {
    display: block;
}

.header__moskow {
    max-width: 240px;

    font-size: 0.7rem;

    color: #272727;

    margin-right: 156px;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__tel {
    display: block;

    font-weight: 700;
    line-height: 1.35;

    color: #272727;

    text-decoration: none;
}

.header__tel:hover {
    color: #41B619;
}

.header__call {
    display: block;
    background: transparent;
    border: 0;
    padding: 0 4px;
    margin: 0;
    cursor: pointer;

    font-size: 0.7rem;
    line-height: 1.35714286;

    text-decoration: underline;

    color: #272727;
}

.header__call:hover {
    color: #41B619;
}

.header__title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 1.2;

    margin: 46px 0 20px;

    max-width: 802px;
}

.header__title-note {
    color: #0260E8;
}

.header__subtitle {
    max-width: 500px;
    margin-bottom: 60px;
}

.header__bonus {
    margin: 0;
    padding: 0;
    list-style: none;

    max-width: 521px;

    font-size: .7rem;

    display: flex;
    flex-wrap: wrap;

    gap: 20px 22px;
}

.header__bonus-item {
    flex-basis: 42.8023%;
    flex-grow: 1;
    flex-shrink: 0;

    padding-left: 33px;
    min-height: 22px;

    box-sizing: border-box;
    position: relative;
}

.header__bonus-item:nth-child(2n) {
    flex-grow: 0;
    /* margin-left: 22px; */
}

/* .header__bonus-item:not(:nth-last-child(-n+2)) { */
    /* margin-bottom: 20px; */
/* } */

.header__bonus-item--social::before,
.header__bonus-item--speed::before,
.header__bonus-icon {
    content: '';

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 22px;

    fill: #FFDB48;
}

.header__bonus-item--speed::before,
.header__bonus-item--social::before {
    height: 22px;

    background-image: url("img/carbon_building-insights-3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.header__bonus-item--speed::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4869 16.7977C16.9061 17.0502 17.3857 17.1848 17.875 17.1875C18.6041 17.1866 19.303 16.8966 19.8185 16.381C20.3341 15.8655 20.6241 15.1666 20.625 14.4375C20.6216 14.1996 20.587 13.9631 20.5219 13.7342L18.8471 15.4096C18.7203 15.541 18.5686 15.6457 18.4008 15.7178C18.2331 15.7898 18.0526 15.8278 17.8701 15.8293C17.6875 15.8309 17.5064 15.7961 17.3374 15.727C17.1685 15.6579 17.0149 15.5558 16.8858 15.4267C16.7567 15.2976 16.6546 15.144 16.5855 14.9751C16.5164 14.8061 16.4816 14.625 16.4832 14.4424C16.4847 14.2599 16.5227 14.0794 16.5947 13.9117C16.6668 13.7439 16.7715 13.5922 16.9029 13.4654L18.5783 11.7899C18.3494 11.7251 18.1129 11.6907 17.875 11.6875C17.1459 11.6884 16.447 11.9784 15.9315 12.494C15.4159 13.0095 15.1259 13.7084 15.125 14.4375C15.1275 14.9271 15.2622 15.4069 15.5148 15.8263L11.6875 19.6522L12.6596 20.625L16.4869 16.7977Z' fill='%23FFDB48'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.875 2.75H15.125V1.375H13.75V2.75H8.25V1.375H6.875V2.75H4.125C3.76033 2.75 3.41059 2.89487 3.15273 3.15273C2.89487 3.41059 2.75 3.76033 2.75 4.125V17.875C2.75 18.2397 2.89487 18.5894 3.15273 18.8473C3.41059 19.1051 3.76033 19.25 4.125 19.25H9.625V17.875H4.125V4.125H6.875V5.5H8.25V4.125H13.75V5.5H15.125V4.125H17.875V9.625H19.25V4.125C19.25 3.76033 19.1051 3.41059 18.8473 3.15273C18.5894 2.89487 18.2397 2.75 17.875 2.75Z' fill='%23FFDB48'/%3E%3C/svg%3E");
}

.header__bonus-item:hover.header__bonus-item--speed::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4869 16.7977C16.9061 17.0502 17.3857 17.1848 17.875 17.1875C18.6041 17.1866 19.303 16.8966 19.8185 16.381C20.3341 15.8655 20.6241 15.1666 20.625 14.4375C20.6216 14.1996 20.587 13.9631 20.5219 13.7342L18.8471 15.4096C18.7203 15.541 18.5686 15.6457 18.4008 15.7178C18.2331 15.7898 18.0526 15.8278 17.8701 15.8293C17.6875 15.8309 17.5064 15.7961 17.3374 15.727C17.1685 15.6579 17.0149 15.5558 16.8858 15.4267C16.7567 15.2976 16.6546 15.144 16.5855 14.9751C16.5164 14.8061 16.4816 14.625 16.4832 14.4424C16.4847 14.2599 16.5227 14.0794 16.5947 13.9117C16.6668 13.7439 16.7715 13.5922 16.9029 13.4654L18.5783 11.7899C18.3494 11.7251 18.1129 11.6907 17.875 11.6875C17.1459 11.6884 16.447 11.9784 15.9315 12.494C15.4159 13.0095 15.1259 13.7084 15.125 14.4375C15.1275 14.9271 15.2622 15.4069 15.5148 15.8263L11.6875 19.6522L12.6596 20.625L16.4869 16.7977Z' fill='%230260E8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.875 2.75H15.125V1.375H13.75V2.75H8.25V1.375H6.875V2.75H4.125C3.76033 2.75 3.41059 2.89487 3.15273 3.15273C2.89487 3.41059 2.75 3.76033 2.75 4.125V17.875C2.75 18.2397 2.89487 18.5894 3.15273 18.8473C3.41059 19.1051 3.76033 19.25 4.125 19.25H9.625V17.875H4.125V4.125H6.875V5.5H8.25V4.125H13.75V5.5H15.125V4.125H17.875V9.625H19.25V4.125C19.25 3.76033 19.1051 3.41059 18.8473 3.15273C18.5894 2.89487 18.2397 2.75 17.875 2.75Z' fill='%230260E8'/%3E%3C/svg%3E");
}

.header__bonus-item:hover .header__bonus-icon {
    fill: #0260E8;
}

.header__actions {
    margin-top: 144px;
    display: flex;
}

.header__action-btn {
    position: relative;

    display: block;

    padding: 25px 60px;

    background: #41B619;
    border-radius: 100px;

    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.39;

    color: #fff;

    text-decoration: none;
    text-align: center;
}

.header__action-btn-note {
    position: absolute;
    left: 60px;
    top: -15px;

    width: calc(100% - 132px);

    font-weight: normal;
    font-size: 0.7rem;
    line-height: 1.55;
    text-align: center;

    transform: translateY(-100%);

    color: #272727;
}

.header__action-btn-note::after {
    content: '';

    position: absolute;
    bottom: -10px;
    right: -41px;

    display: block;
    width: 50px;
    height: 50px;

    background: url("img/akar-icons_arrow-forward.svg") center center no-repeat;
    background-size: contain;
}

@media (max-width: 830px) {
    .header__wrapper {
        background-image: none;
    }

    .header__title {
        text-align: center;
    }

    .header__subtitle {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header__bonus {
        margin-left: auto;
        margin-right: auto;
    }

    .header__actions {
        justify-content: center;
    }
}

@media (max-width: 720px) {
    .header__moskow {
        margin-right: 0;
    }

    .header__contacts {
        margin-left: auto;
    }
}

@media (max-width: 570px) {
    .header__moskow {
        display: none;
    }

    .header__bonus {
        flex-direction: column;
    }

    .header__bonus-item {
        flex: 0 0 auto;
    }
}

@media (max-width: 370px) {
    .header__action-btn {
        padding: 25px;
    }

    .header__action-btn-note {
        left: 25px;
        width: calc(100% - 90px);
    }

    .header__title {
        font-size: 1.5rem;
    }
}

.block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.block__wrapper {
    flex: 1 1 100%;
    max-width: 1160px;
}

.possibilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;

    padding: 0;
    margin: 0;
    list-style: none;

    counter-reset: items 0;
}

.possibilities li {
    counter-increment: items;

    background: #FFFFFF;
    min-height: 180px;

    padding: 70px 40px 40px;

    box-shadow: 0px 16px 80px rgba(0, 0, 0, 0.07), 0px 6.68442px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 3.57381px 17.869px rgba(0, 0, 0, 0.0417275), 0px 2.00345px 10.0172px rgba(0, 0, 0, 0.035), 0px 1.06402px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.442761px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 10px;

    position: relative;
}

.possibilities li::before {
    content: "0" counter(items);

    position: absolute;
    top: 0;
    left: 20px;

    font-weight: 700;
    font-size: 5.1rem;
    line-height: 1.3627451;

    color: rgba(255, 219, 72, 0.25);
}

.possibilities li:nth-child(n+10):before {
    content: counter(items);
}
